ion-row
{
	text-align:left;
	border:1px solid #f3f3f3;
	padding:0px 10px;
	margin-top:10px;
}

img
{
	width:50px
}

.amount
{
	float: right;
	font-size:14px;
	margin-top:8px;
}

ion-item
{
  border: 1px solid #e1e0e0;
  border-radius: 10px;
}

.ecash
{
	border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 10px 10px;
}